.navbar{
    height: 50px;
    padding-top: 0%;
    margin-top: 0%;
}

.h2{
    font-family: lucida sans;
    margin: auto;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.card-body{
    background-color: rgba(255, 227, 232, 0.616);
}