.navbar{
    height: 50px;
    padding-top: 0%;
    margin-top: 0%;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: pink;
    color: rgb(98, 11, 26);
}

.h2{
    font-family: lucida sans;
    margin: auto;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.card-body{
    background-color: rgba(255, 227, 232, 0.616);
}