.navbar{
    height: 50px;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 30px;
}

.h1{
    font-family: lucida sans;
    text-align: center;
}

.p1{
    text-align: center;
    font-size: 17px;
    font-family: lucida sans regular;

    margin-bottom: 50px;
}

.j-name{
    font-family: lucida sans;
    font-weight: bold;
}

.desc{
    font-family: lucida sans regular;
    font-size: 13px;
    text-align: center;
}

.pomegranate-juice{
    width: 200x;
    height: 200px;   
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);
}

.apple-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);
}

.grape-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);
}

.avocado-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);
}

.blueberry-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.kiwi-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.orange-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.watermelon-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.strawberry-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.lemon-juice{
    width: 200px;
    height: 200px;
    border-radius: 15px 50px 30px 5px;
    border: 10px solid rgba(255, 176, 189, 0.306);

    margin-top: 50px;
}

.cart{
    font-size: 13px;
}
